<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Cabin+Sketch:wght@400;700&family=Gloria+Hallelujah&family=Notable&family=Rubik+Bubbles&family=Rubik+Iso&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="style.css" />
        <title>
            WHATS POPPIN
        </title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <!-- <img class="popcorn"src="public/popcorn.gif"> -->
                <div>
                    <img class="popcorn"src="./public/popcorn.gif">
                    <a href="index.html" class="brand">WHATS POPPIN</a>
                </div>
            
                    
                          
                          <div class="follow">
                            <a class="rainbow-4" href="cart.html">Cart</a>
                    <a class="rainbow-4" href="signin.html">Sign In</a>
                          
                      </div>
                          
                    <!-- <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a> -->
                

            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="product.html">
                            <img class="medium"src="./public/bags.jpeg" alt="popcorn bags">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>Bags</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="detail">4 Flavors Available<br/> 4 Sizes Available</div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <img class="medium"src="./public/grabngo.jpg" alt="grab and go">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>Grab & Go</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="detail">10 Flavors Available<br/> 1 Sizes Available</div>
                        </div>
                    </div><div class="card">
                        <a href="product.html">
                            <img class="medium"src="./public/Mix.jpg" alt="popcorn bags">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>Mixes Bags</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="detail">3 Flavors Available<br/> 4 Sizes Available</div>
                        </div>
                    </div><div class="card">
                        <a href="product.html">
                            <img class="medium"src="./public/Mix.jpg" alt="popcorn bags">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>Mixes Bags</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="detail">3 Flavors Available<br/> 4 Sizes Available</div>
                        </div>
                    </div><div class="card">
                        <a href="product.html">
                            <img class="medium"src="./public/Bucket.jpg" alt="popcorn bags">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>Bucket</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="detail">7 Flavors Available<br/> 1 Sizes Available</div>
                        </div>
                    </div><div class="card">
                        <a href="product.html">
                            <img class="medium"src="./public/oneG.jpg" alt="popcorn bags">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>1 Gallon</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="detail">7 Flavors Available<br/> 1 Sizes Available</div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <img class="medium"src="./public/sportsT.jpeg" alt="popcorn bags">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>1 Gallon Sports Tin</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="detail">7 Flavors Available<br/> 1 Sizes Available</div>
                        </div>
                    </div><div class="card">
                        <a href="product.html">
                            <img class="medium"src="./public/goldTin.jpeg" alt="popcorn bags">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>2 Gallon Tin</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="detail">7 Flavors Available<br/> 1 Sizes Available</div>
                        </div>
                    </div><div class="card">
                        <a href="product.html">
                            <img class="medium"src="./public/whiteTin.jpeg" alt="popcorn bags">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>3 Gallon Tin</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="detail">7 Flavors Available<br/> 1 Sizes Available</div>
                        </div>
                    </div><div class="card">
                        <a href="product.html">
                            <img class="medium"src="./public/ice.jpg" alt="popcorn bags">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>Italian Ice</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="detail">12 Flavors Available<br/> 4 Sizes Available</div>
                        </div>
                    </div>
                </div>

            </main>
            <footer class="row center">
                All rights reserved
            </footer>
        </div>
    </body>
</html>
